.test
	&__wrap
		display flex
		align-items center
		justify-content center
		margin-bottom 2rem
	&__icon
		width 7rem
		height 7rem
		margin 0 2rem 0
		animation test-icon infinite 5s linear
	&__item
		font-size 1.5rem
		font-weight 300
	@keyframes test-icon
		from
			transform rotate(0deg)
		to
			transform rotate(360deg)


