.gallery
	&__inner	
		width 100%
		max-width $maxWidth
		margin 0 auto 0
		&._authorize 
			padding-top 5rem
			display flex
			align-items center
			justify-content center
	&__title 
		text-align center
		font-weight 700
		color $mainColor
		font-size 5rem


