// ==============================
//
//  OpenSans
//
// ==============================
@font-face
	font-family: 'OpenSans'
	src: local('OpenSans Light'),
		url('~@/assets/fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
		url('~@/assets/fonts/open-sans/OpenSans-Light.woff') format('woff')
	font-weight: 300
	font-style: normal
