// Colors
$colorPrimary = steelblue

//Fonts
$reserveFonts = sans-serif
$fontPrimary = 'PTSansCaption', $reserveFonts

//Colors
$mainColor = #FFFFFF

// Backgrounds
$mainBg = #7DC9E7

// Transition
$mainTransition = .3s

// Sizes
$headerHeight = 5rem
$footerHeight = 5rem
$maxWidth = 144rem
$maxInnerWidth = 106rem

// Media query
$mobileWidth = 500px
$tabletWidth = 768px
$desktopWidth = 1200px
