.card
	text-decoration none
	display block
	background-color $cardsBg
	border-radius 1rem
	box-shadow 0 0.4rem 3.2rem 0 rgba(0,0,0,.28)
	padding 1rem
	width 100%
	height 100%
	color $colorCards
	margin-top: 2rem
	position relative
	transition: all $mainTransition ease
	cursor pointer
	&:hover 
		box-shadow: 0 0.4rem 3.2rem 0 rgba(0,0,0,.28)
		transform: translateY(-2px)
	&__album 
		display flex
		align-items center
		&--wrap 
			&:first-child 
				margin-right 3rem
		&--image
			max-width 13rem
			width 100%
			object-fit: contain
	&__photos
		display flex
		align-items center
		justify-content center
		flex-direction: column
		&--image
			width 100%
			height 100%
			object-fit: contain