.card
	text-decoration none
	display block
	background-color $cardsBg
	border-radius 1rem
	box-shadow 0 0.4rem 3.2rem 0 rgba(0,0,0,.28)
	padding 3.5rem
	color $colorCards
	margin-top: 2rem
	position relative
	transition: all $mainTransition ease
	cursor pointer
	&:hover 
		box-shadow: 0 0.4rem 3.2rem 0 rgba(0,0,0,.28)
		transform: translateY(-2px)
	&__album 
		display flex
		align-items center
		&--image
			margin-right 3rem
			object-fit: contain
