.header
	&__inner
		padding $padding
	&__link
		font-weight 400
		text-decoration none
		color $mainColor
		font-size 2rem
		margin-right 1.5rem	
		transition all $mainTransition ease
		&:hover
			color rgba($mainColor, .7)
		&:last-child 
			margin-right 0
