.droap
	&__inner	
		width 100%
		max-width $maxWidth
		margin 0 auto 0
	&__title 
		text-align center
		font-weight 700
		color $mainColor
		font-size 5rem
	&__text
		text-align center
		font-weight 400
		color $mainColor
		padding 1rem 0 2rem
	&__button 
		display block
		margin: 3rem auto 0
		border .1rem solid $cardsBg
		background-color $cardsBg
		color $mainBg
		font-weight 400
		padding: 1rem
		border-radius: .5rem
		cursor pointer
		transition all $mainTransition ease
		&:hover 
			background-color $mainBg
			color $cardsBg
		&:active 
			transform: translateY(3px)
	&__url
		opacity 0
		position: absolute

	.vue-dropzone
		background-color transparent
		border-radius: 1rem
		border-style: dashed
		border-style: dashed;
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		margin-top 3rem
	.dz-message 
		color $mainColor
		font-weight 700

